.auth-card{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width: 360px;
    background-color:ghostwhite;
    border-radius: 6px;
    padding:1rem;
}
.auth-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.auth-header svg{
    color:blue;
    font-size: 2rem;
}
.auth-header p{
    font-size: 1.4rem;
    font-weight: 700;
}
.auth-header span{
    color:grey;
}
.otp_inputs{
    display: flex;
    align-items:center ;
    justify-content: center;
    gap:1rem;
}
.profile_container{
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}
.full-name{
    text-transform: capitalize;
    font-weight: 700;
}
.email{
    color:gray;
}
.action{
    margin-top: 1rem;
}